/* /photos/{node}/rearrange */
.photos-sortable {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.photos-sortable li {
  float: left;
  width: 100px;
  height: 100px;
  margin: 3px 3px 3px 0;
  list-style: none;
  cursor: move;
  text-align: center;
}
.photos-sortable li img {
  max-width: 98%;
  max-height: 98%;
}
